@using Aseguradora.Models
@model List<RolPaginaModel>
@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaRol = (List<SelectListItem>)ViewBag.lista;
}

<h2>Index</h2>

    @using (Ajax.BeginForm("Filtrar", "", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divRolPagina",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "FrmFiltrado" }))
    {
        @Html.DropDownList("IdRol",listaRol, new { @class="form-control"})
    }

<div id="divRolPagina">
    @Html.Partial("_TablaRolPagina", Model)
</div>
    <script>
        var idrol = document.getElementById("IdRol");
        idrol.onchange = function () {
            $("#FrmFiltrado").trigger("submit");
        }
    </script>

